<p id="notice"><%= notice %></p>

<h1>Danh Muc Saches</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @danh_muc_saches.each do |danh_muc_sach| %>
      <tr>
        <td><%= link_to 'Show', danh_muc_sach %></td>
        <td><%= link_to 'Edit', edit_danh_muc_sach_path(danh_muc_sach) %></td>
        <td><%= link_to 'Destroy', danh_muc_sach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Danh Muc Sach', new_danh_muc_sach_path %>
