<p id="notice"><%= notice %></p>

<h1>Tacgia</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tacgia.each do |tacgium| %>
      <tr>
        <td><%= tacgium.title %></td>
        <td><%= tacgium.description %></td>
        <td><%= link_to 'Show', tacgium %></td>
        <td><%= link_to 'Edit', edit_tacgium_path(tacgium) %></td>
        <td><%= link_to 'Destroy', tacgium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tacgium', new_tacgium_path %>
