<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tacgium.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tacgium.description %>
</p>

<%= link_to 'Edit', edit_tacgium_path(@tacgium) %> |
<%= link_to 'Back', tacgia_path %>
